
.body-container {
	display: flex;
	justify-content: center;
	min-width: 1140px;
}

.container-center {
	font-family: 'Roboto', sans-serif;
	width: 1140px;
	height: 2552px;
	color: #444444;
}


/****Colors****/

.block-name{
	border-bottom: 1px solid #e8e8e8;
	font-size: 28px;
	color: #5a5a5a;
	font-weight: 300;
	font-stretch: condensed;
	line-height: 8px;
	padding-top: 25px;
}

.block-no{
	color: #b7b7b7;
	font-size: 18px;
	font-weight: 300;
}

.ContColors{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 31px 0px 48px 0px;
}

.ContainerColorBig {
	width: 360px;
	height: 150px;
	display: flex;
	flex-direction: column;
	border: solid 2px #f3f3f3;
}

.colors{
	width: 360px;
	height: 80px;
	display: flex;
}

.DarkGrey1{
	width: 50%;
	height: 80px;
	background: #2a2a2a;
}

.DarkGrey2{
	width: 50%;
	height: 80px;
	background:#5a5a5a;
	justify-content: flex-end;
}

.ContainerSign{
	width: 360px;
	height: 70px;
	border-top: solid 2px #f3f3f3;
	color: #444444;
	font-size: 18px;
	padding-left: 25px;
}

.container-sign-no {
	font-size: 14px;
	color: #bbbbbb;
}

.LightGrey{
	width: 100%;
	height: 80px;
	background: #f3f3f3;
}

.Blue1{
	width: 120px;
	height: 80px;
	background: #073855;
	justify-content: flex-start;
}

.Blue2{
	width: 120px;
	height: 80px;
	background: #375868;
}

.Blue3{
	width: 120px;
	height: 80px;
	background: #1396E2;
	justify-content: flex-end;
}


/****Typography****/

.container-two-blocks{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}

.titles-headings{
	width:50%;
	display: flex;
	flex-direction: column;
}

.typography-title{
	margin: 30px 0px 22px 0px;
}

h1{
	font-size: 36px;
	font-weight: 300;
	font-stretch: condensed;
	line-height: 17px;
	margin: 25px 0px 17px 0px;
}

h2{
	font-size: 30px;
	font-weight: 700;
	font-stretch: condensed;
	line-height: 17px;
	margin: 17px 0px 17px 0px;
}

h3{
	font-size: 24px;
	font-weight: bold;
	font-stretch: condensed;
	line-height: 16px;
	margin: 16px 0px 16px 0px;
}

h4{
	font-size: 18px;
	font-weight: bold;
	font-stretch: condensed;
	line-height: 12px;
	margin: 11px 0px 11px 0px;
}

h5{
	font-size: 18px;
	font-weight: 400;
	font-stretch: condensed;
	line-height: 12px;
	margin: 11px 0px 11px 0px;
}

h6{
	font-size: 14px;
	font-weight: 400;
	font-stretch: condensed;
	line-height: 10px;
	margin: 8px 0px 8px 0px;
}

.body-text{
	width: 50%;
	display: flex;
	flex-direction: column;
}

.hyper-link{
	color: #71b6ea;
}

.body-text-font{ 
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #666666;
}

.body-text-list{ 
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #666666;
}

.body-text-list li{
	color: #3464a7;
}

.body-text-list span{
	color: #666666;
}

/****buttons****/

.styling-container{
	width:50%;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.ButtonStyle1{
	width: 165px;
	height: 40px;
	border: none;
	text-align: center;
	background: #1396E2;
	outline: none;
	color: #ffffff;
	font-size: 24px;
	margin: 2px 0px 18px 0px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}

.ButtonStyle2{
	width: 165px;
	height: 40px;
	border-width: 1px;
	border-color: #1396E2;
	text-align: center;
	background: #ffffff;
	outline: none;
	color: #1396E2;
	font-size: 24px;
	margin: 2px 0px 18px 25px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}

.ButtonStyleActive1{
	width: 165px;
	height: 40px;
	border: none;
	text-align: center;
	background: #073855;
	outline: none;
	color: #ffffff;
	margin: 2px 0px 18px 0px;
	font-size: 24px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}

.ButtonStyleActive2{
	width: 165px;
	height: 40px;
	border-width: 1px;
	border-color: #073855;	
	text-align: center;
	background: #ffffff;
	outline: none;
	color: #073855;
	margin: 2px 0px 18px 25px;
	font-size: 24px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}

.sizes-container{
	width:50%;
	display: flex;
	flex-direction: column;
}

.LargeButton {
	width: 240px;
	height: 50px;
	border: none;
	text-align: center;
	background: #e8e8e8;
	outline: none;
	margin: 2px 0px 18px 0px;
	cursor: pointer;
}

.LargeButton span {
	font-size: 20px;
	font-weight: 200;
	color: #3b3b3b;
}

.MediumButton {
	width: 180px;
	height: 40px;
	border: none;
	text-align: center;
	background: #e8e8e8;
	outline: none;
	margin: 2px 0px 18px 0px;
	cursor: pointer;
}

.MediumButton span {
	font-size: 16px;
	font-weight: 200;
	color: #3b3b3b;
}

.SmallButton {
	width: 100px;
	height: 25px;
	border: none;
	text-align: center;
	background: #e8e8e8;
	outline: none;
	margin: 2px 0px 18px 0px;
	cursor: pointer;
}

.SmallButton span {
	font-size: 14px;
	font-weight: 200;
	color: #3b3b3b;
}

.button-size-sign{
	color: #a4a4a4;
	font-size: 12px;
	margin-left: 20px;
}

/***Form Elements***/

.container-form1 {
	width:50%;
	display: flex;
	flex-direction: column;
}

.text-form { 
	width: 540px;
	height: 40px;
	border: none;
	background: #f3f3f3;
	outline: none;
	-webkit-appearance: none;
	font-size: 16px;
	padding-left: 15px;
	margin-top: 45px;
	color: #a3a3a3;
	box-shadow: inset 0px 1px 1px #918f8f;
}

.search-form {
	display: flex;
	flex-direction:row;
}

.search-form input { 
	height: 40px;
	width: 499px;
	outline: none;
	border: none;
	background: #f3f3f3;
	-webkit-appearance: none;
	font-size: 15px;
	padding-left: 15px;
	margin-top: 3px;
	color: #a3a3a3;
	box-shadow: inset 0px 1px 1px #918f8f;
}

.search-form button {
	-webkit-appearance: none;
	outline: none;
	height: 41px;
	width: 41px;
	margin-top: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #1396e2;
	color: white;
	border: 0px;
	cursor: pointer;
}

.text-form-big {
	width: 540px;
	height: 40px;
	border: none;
	background: #f3f3f3;
	outline: none;
	-webkit-appearance: none;
	font-size: 16px;
	padding: 0px 0px 28px 15px;
	margin-top: 3px;
	color: #a3a3a3;
	box-shadow: inset 0px 1px 1px #918f8f;
}

.container-form2 {
	width:50%;
	display: flex;
	flex-direction: column;
}

.form-style {
	width: 555px;
	height: 50px;
	display: flex;
	flex-direction:row;
	align-items: center;
	background: #e7f4fc;
	margin: 60px 0px 5px 13px;
}

.form-style-button { 
	width: 20px;
	height: 20px;
	margin-right: 15px;
	outline: none;
	-webkit-appearance: none;
}

.form-style-text {
	width: 523px;
	margin-left: 20px;
	background: #e7f4fc;
	color: #1396e2;
	font-size: 16px;
	display: flex;
	align-items: center;
}

.form-style2{
	width: 555px;
	height: 50px;
	display: flex;
	flex-direction:row;
	align-items: center;
	background: #f1f8e8;
	margin: 15px 0px 5px 13px;
}

.form-style-text2{
	width: 523px;
	margin-left: 20px;
	background: #f1f8e8;
	color: #76bd22;
	font-size: 16px;
	display: flex;
	align-items: center;
}

.form-style3{
	width: 555px;
	height: 50px;
	display: flex;
	flex-direction:row;
	align-items: center;
	background: #feeaec;
	margin: 15px 0px 0px 13px;
}

.form-style-text3{
	width: 523px;
	margin-left: 20px;
	background: #feeaec;
	color: #f63440;
	font-size: 16px;
	display: flex;
	align-items: center;
}


/***UI Elements**/

.big-img {
	margin: 57px 0px 13px 0px;
}

#markup-color {
	color: #073855;
	margin-top: 19px;
}

.icon{
	color: #1396E2; 
	padding: 0px 10px 0px 10px;
}

.icon-sign{
	color: #5a5a5a;
	font-size: 14px;
	margin-bottom: 28px;
}

.tag{
	background: #f3f3f3;
	border-left: solid 2px #c7c7c7;
	box-shadow: -2px 1px 2px #c7c7c7;
	padding: 4px 7px 4px 7px;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none; /*if I don't need link - delete it*/
	color: #000000; /*if I don't need link - delete it*/
}

.text-ui {
	color: #a9a9a9;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	margin-top: 30px;
}

#ReadMore{
	margin-top: 8px;
	color: #5a5a5a;
	font-size: 15px;
}

.readmore-icon{
	margin-left: 10px;
	color: #1396E2; 
}

.container-ui2{ 
	width:50%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 42px;
}

.list { 
	list-style-type:none; 
	margin: 0px;
	padding: 0px;
}

.list i{
	color: #1396E2; 
	padding: 0px 10px 0px 10px;
}

.list li{
	width: 263px;
	height: 40px;
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 400;
	margin: 0px 0px 5px 13px;
}

.list a{
	text-decoration: none;
	color: #2a2a2a;
}

li.Active{
	background:  #f3f3f3;
	border-right: solid 2px #073855;
	box-shadow:  0px 1px 7px #bababa;
}

li.Active:after {
	content: '';
	border:  5px solid transparent;	
	border-left:  5px solid #073855;
	position: relative;
    left: 192px;
	margin-top: 5px;
}

.pager-container{
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: flex-end;
}

.pager{ 
	display: flex;
	flex-direction: row;
}

.pager li{
    list-style-type:none;
    border-top:6px solid #f3f3f3;
    padding:5px 19px;
}

.pager .pager-current{
    border-top:6px solid #073855;
}
  
.pager .pager-hover{
    border-top:6px solid #1396E2;
}

.pager a{
	text-decoration: none;
	color: #5a5a5a;
}

.pager-current a{
	color: #073855;
}

.pager-hover a{
	color: #1396E2;
}
  